/* center the items of the card */
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    /* add animation */
    animation: burst 1s ease-in-out;

}